.center {
    margin-top: 5px;
    float: left;
    width: 40px;
    height: 40px;
}
.name {
    margin-top: 5px;
    font-family: Montserrat;
    font-size: 40px;
    color: aliceblue;

    display:inline-block;margin-right:10px;
}
.input {
    margin-top: 2px;

    font-family: Montserrat;
    border: none;
    border-radius: 15px;
    display: block;
    width: 76%;
    font-size: 16px;
    padding: 12px 20px;
    
    background-image: url('searchIcon.png');
    background-position: 99%;
    background-size: 12px 12px;
    background-repeat: no-repeat;

    display:inline-block;
}

.input:focus {
    background-color: lightblue;
    border: none;
    border-radius: 15px;
    outline: none;
}

@font-face {
    font-family: Montserrat;
    src: url(Montserrat-Regular.ttf);
}