.center {
    margin-top: 3px;
    float: left;
    width: 64px;
    height: 64px;
	margin-right: 15px;
	margin-left: 15px;
}
.name {
	margin: auto;
    font-family: Montserrat;
    font-size: 40px;
    color: white;
	font-weight: bold;
    display: inline-block;
	margin-right: 15px;
	margin-top: 8px;
}
.input {
    font-family: Montserrat;
    border: none;
    border-radius: 15px;
    display: block;
    width: 77%;
    font-size: 16px;
    padding: 12px 20px;
	position: relative;
	top: -7px;
    
    background-image: url('searchIcon.png');
    background-position: 99%;
    background-size: 12px 12px;
    background-repeat: no-repeat;

    display:inline-block;
}

.input:focus {
    background-color: lightblue;
    border: none;
    border-radius: 15px;
    outline: none;
}

@font-face {
    font-family: Montserrat;
    src: url(Montserrat-Regular.ttf);
}
@font-face {
    font-family: Montserrat;
    src: url(Montserrat-Bold.ttf);
	font-weight: bold;
}