#bodycolor {
    background-color: #073763ff;
}
#press {
    border-radius: 5px;
    color: blue;
    font-family: Montserrat;

}
.space {
    margin-bottom: 0px;
    margin-top: 0px;
}
.center {
    float: initial;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 200px;
    width: 240px;
    height: 240px;
}
.name {
    font-family: Montserrat;
    font-size: 64px;
    text-align: center;
    color: white;
    margin-top: 0px;
	margin-bottom: 24px;
    font-weight: bold;
}
.input {
    font-family: Montserrat;
    border: none;
    border-radius: 15px;
    display: block;
    width: 30%;
    font-size: 16px;
    float: center;
    padding: 12px 20px;
    margin: 0 auto;
    margin-top: 2px; 
    margin-bottom: 0px;
    
    background-image: url('searchIcon.png');
    background-position: 97%;
    background-size: 12px 12px;
    background-repeat: no-repeat;
}
.input:focus {
    background-color: lightblue;
    border: none;
    outline: none;
    border-radius: 15px;
}


@font-face {
    font-family: Montserrat;
    src: url(Montserrat-Bold.ttf);
	font-weight: bold;
}
